<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FalconX3.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FalconX3.My.MySettings>
            <setting name="a_none" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="a_acceleration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="a_deceleration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="a_criticaldamping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="a_easeineaseout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="a_linear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_speed" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="s_offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="runatstartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_centerbetweentoolbars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_react" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="anima" serializeAs="String">
                <value />
            </setting>
            <setting name="multi" serializeAs="String">
                <value>False</value>
            </setting>
        </FalconX3.My.MySettings>
    </userSettings>
</configuration>