<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FalconX2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <FalconX2.My.MySettings>
            <setting name="anim0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="anim1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="anim2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="anim3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="anim4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="anim6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="anim0f" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="anim1f" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="anim2f" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="anim3f" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="anim4f" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="anim6f" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="ano0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ano1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ano2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ano3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ano4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ano5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dddddddd" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="speedss" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="px" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="taskbarnone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="taskbartrans" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="taskbarblur" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="taskbaracrylic" serializeAs="String">
                <value>False</value>
            </setting>
        </FalconX2.My.MySettings>
    </userSettings>
</configuration>
